Django==6.0.1
django-cors-headers==4.9.0
djangorestframework==3.16.1
django-ratelimit==4.1.0
django-filter==25.2
psycopg2-binary==2.9.11
django-db-connection-pool[postgresql]==1.2.6
python-dotenv==1.0.1
PyJWT==2.8.0
Pillow>=9.0
argon2-cffi==23.1.0
